* {
    overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
    margin: 0px;
    padding: 0px;
    background-image: url(background.png);
    background-attachment: fixed;
    overflow-x: hidden;
height: auto;
scroll-behavior: smooth;

}






/*//////// REVEAL ANIMATION/////// */

.reveal { 
    position: relative;
    filter: blur(3px);
transform: translateX(-100%);
opacity: 0;
transition: all 2s ease;
}

.reveal.active{
    position: relative;
    filter: blur(0);
transform: translateX(0%);
opacity:1;
}



/*///////mobile first/////*/


.container {
    width:80%;
    margin: 0 auto;
    height: auto;
}

.top {
    width: 100vw;
    height: auto;
}

.logonav {
    
   display: inline-block;
    font-size: 35px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 0px;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 0;
    padding: 10px;
}

.mobile-nav-toggle { 
    height:20px;
    width: 20px;
margin-top: 40px;
    margin-right: 20px;
    position: relative;
    z-index: 9999;
    float: right;
}

#nav { 
    position: fixed;
    inset: 0 0 0 10%;
    background-color: rgba(255, 255, 255, 0.106);
    backdrop-filter: blur(1rem);
    display: flex;
    flex-direction: column;
    z-index: 1000;
    transform: translateX(100%);
    align-items: center;
}

#nav[data-visible="true"]{
    transform: translateX(0%);
}

.navbtn {  
     font-family: 'Montserrat', sans-serif; 
    color: white;
     text-align: center;
    font-size: 20px}


#nav a {
 
    padding: 10px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.logonav1{
    visibility: hidden;
    position: absolute;
}

#nav a:first-of-type{
    margin-top: 150px;
}
.mainwrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}


.main{
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
}

.landingimg {
    height: 360px;
    width: 360px;
    margin-top: 30px;
    margin-left: 80px;
    animation: slideUp 6s ease-in-out infinite;
}

@keyframes slideUp {

    0% { 
        transform: translateY(0) translateX(-10%);
    
    }
    50% {
        transform: translateY(-30px) translateX(-10%);
  
}

    100% {
        transform: translateY(0) translateX(-10%);
    }
}


.mainh {
    font-size: 20px;
    padding: 10px;
    font-style: italic;
position: relative;
bottom: 25px;
}

.mainp{
position: relative;
bottom: 32px;
}

.mainp2 {
    position: relative;
    bottom:32px;
}

.mainbuttons {
    width: 300px;
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 20px;
    margin: 0 auto;
}

#learnmorebttn {
    background-color: none;
    padding: 10px;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 10px;
}

#contactbttn1 {
 width: 80px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color:white;
    text-decoration: none;
    background: rgb(71,80,233);
background: linear-gradient(270deg, rgba(71,80,233,1) 11%, rgba(167,81,255,1) 78%);
border-top:1px solid rgba(232, 181, 240, 0.504);
border-left:2px solid rgba(230, 210, 234, 0.504);
border-radius: 10px;

}


#about { 
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 10px;
}

.quote { 
    width: min(80%,1280px);
    display: inline-block;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size:18px;
  margin-top: 50px;
  margin-bottom: 100px;
text-align: center;
transform: translateY(50px);
}



.aboutimg {
    width: 360px;
    height: 300px;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: 80px;
    animation: slideUp 6s ease-in-out infinite;
}

.aboutsectiontxt {
    margin-left: 10px;
    margin-bottom: 50px;
}



.services { 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}


.card{ 
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
height:390px;
width:210px;
font-family: 'Montserrat', sans-serif;
color: white;
border-radius:15px;
border:1px solid rgba(255, 255, 255, 0.504);
padding: 30px;
margin-bottom: 30px;
background-color: rgba(0, 0, 0, 0.08);
}


.card img {
    width: 60px;
    height: 60px;
}

.card h3 {
    margin: 10px auto;
    
}
.card p { 
    display: inline-block;
    text-align: center;
    margin: 0 auto;
}

.cardreadmore {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.05);
position: relative;
top:15px;
    color: white;
 padding: 10px 16px 10px 16px;
    border-radius: 15px;
    border:2px solid rgba(255, 255, 255, 0.504);
    font-family: Arial, Helvetica, sans-serif;
}



.projectdevh {
    display: inline-block;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    width: 100%;
    padding: 10px;
    text-align: center;
   margin: 0 auto;
    margin-bottom: 50px;
}


 /*scroll section and animations */

 .scrollingsection{
    width: min(80%,1280px);
padding: 20px;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
margin: 0 auto;
}


 .step {
    width: min(80%,1280);
    height:100%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 50px;
    border: 1px solid rgb(238, 248, 164);
    border-radius: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: rgba(0, 0, 0, 0.08);
 }

 .step h3 {
    padding: 20px;
    padding-bottom: 0px;
   text-align: center;
 }
 .step p {
    font-size: 16px;
    padding: 20px;
    padding-top: 0px;
    text-align: center;
 }

 .projectdevp{
    display: inline-block;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    width: 100%;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 100px;
}

.projectdevp.reveal {
    transform: translateY(50px);
}

.projectdevp.active {
    transform: translateY(0px);
}

.costsh {
    display: inline-block;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    width: 100%;
    padding: 15px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}

.costsh.reveal {
    transform: translateY(50px);
}

.costsh.active {
    transform: translateY(0px);
}


.pricingcards { 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.pricingcard  { 
    height: 430px;
    width: 260px;
    margin-bottom: 30px;
display: flex;
flex-direction: column;
justify-content: space-evenly;
background: rgb(245,255,183);
background: linear-gradient(135deg, rgba(245,255,183,1) 0%, rgba(225,249,70,1) 89%);
border-radius: 25px;
padding: 10px;
font-family: Arial, Helvetica, sans-serif;
}

.pricingcard h2{ 
    margin-top: 10px;
    text-align: center;
}

.pricingcard h3 { 
    margin-left: 10px;
}

.realprice { 
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}



.pricingcard ul li {
position: relative;
right: 15px;
}


.ourwork{
    display: inline-block;
   text-align: center;
    margin-bottom: 30px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    width: 100%;
}


.projectssection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.projectssection:last-of-type{
    visibility: hidden;
    position: absolute;
}

.projectcard {
    width:270px;
    
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
border-left: 1px solid white;
border-bottom: 1px solid white;
border-right: 1px solid white;
    color: white;
    margin-bottom: 50px;
 
}

.projectcardimg {
    width:270px;
    height: 200px;
    border-top-left-radius:20px ;
    border-top-right-radius: 20px;
}

.projecttextholder {
    padding: 10px;
    margin-left: 10px;
}

.projectsreadmore{
    color:white;
    text-decoration: none;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    border: 1px solid white;
    position: relative;
    bottom: 20px;
    background-color: rgba(0, 0, 0, 0.07);
    font-family: Arial, Helvetica, sans-serif;
}

.projectcard h2 { 
    position: relative;
    bottom: 35px;
    font-family: 'Montserrat';
}


.projectsh {
    display: inline-block;
    color: white;
    margin: 0 auto;
    margin-bottom: 120px;
}



.testimonialsection { 
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
  
}

.slider {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    height: 500px;
  width: 270px;
    position: relative;
}




.testimonialp {
    color:white;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
   text-align: center;
}

.testimonialp h2.reveal {
    transform: translateY(50px);
}
.testimonialp h2.reveal {
    transform: translateY(0px);
}
.buttons {
    position: relative;
    bottom: 20px;
    width: 200px;
   margin-left: auto;
   margin-right: auto;
   display: flex;
   justify-content: center;
   align-items: center;
    margin-bottom: 100px;
}
#left  {
    width: 15px;
    height: 15px;
z-index: 1;
    padding: 8px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.348);
  margin-right: 20px;
  margin-left: 10px;
}

#right  {
    width: 15px;
    height: 15px;
z-index: 1;
    margin-left: 20px;
    padding: 8px;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.348);
  
}

.testimonialbubble{
     display: flex;
flex-direction: column;
justify-content: space-evenly;
width: 230px;
height: 450px;
background: white;
border-top: 2px solid rgb(255, 254, 254);
border-left: 2px solid rgb(255, 255, 255);
border-radius: 50px;
font-family:'Times New Roman', Times, serif;
margin-left: 20px;
position: absolute;
transition: 500ms;
}

.testimonialimg {
    height: 100px;
    align-self: center;
    border-radius: 100px;
    position: relative;
    top: 15px;
}


.testimonialbubble h2 {
    align-self: center;
  margin: 0;
  position: relative;
  top: 25px;
}


.testimonialbubble h4  {
    align-self:center;

}


.bubbletxt {
    display: inline-block;
    margin-left: 5px;
    padding: 15px;
   align-self: center;
   text-align: center;
}


.formcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formcontainer img {
    width: 250px;
    height: 250px;
}


form {
    width: 270px;
    height: 400px;
    background: rgb(234,253,255);
    background: radial-gradient(circle, rgba(234,253,255,1) 0%, rgba(148,187,233,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    border-radius: 20px;
    align-items: center;
  position: relative;
  bottom: 50px;
}

form h1 {
    font-family:'Montserrat', sans-serif ;

}

form input {
    height: 30px;
    width: 180px;
}

form textarea { 
    width: 180px;
}

form button {
    color: white;
    background: rgb(71,80,233);
background: linear-gradient(270deg, rgba(71,80,233,1) 11%, rgba(167,81,255,1) 78%);
border:none;
border-radius: 15px;
cursor: pointer;
padding: 10px;
padding-left: 16px;
padding-right: 16px;
width: 120px;
}


.footer {
    margin-top: 100px;
    width: 100vw;
    height: 250px;
    background-color: rgba(58, 58, 58, 0.413);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.footer a{
    display: inline-block;
    width: auto;
    color: white;
    text-decoration: none;
    align-self: center;
    padding: 0;
    position: relative;
    top: 30px;

}

.footer a:nth-of-type(3){
    margin-bottom: 30px;
}

.footercenter {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    top: 25px;
   
}

.footer img {
    width: 50px;
    height: 50px;
   position: relative;
   top: 20px;
   margin-left: 20px;
  margin-right: 20px;
}

.footer .logo {
    font-size: 30px;
    color: white;
}




 

/*//////// RESPONSIVE ////////*/


@media screen and (max-width:354px){

.main,
.mainbuttons { 
    width: 260px;
    height: auto;
}

.landingimg{
    width: 320px;
    height: 340px;
}

.card {
    width: 180px;
}

.card p { 
    width: 220px;
   position: relative;
   right: 20px;
}


.pricingcard {
    width: 230px;
    height: 440px;
}

.pricingcard h2 {
    font-size: 20px;
}

.realprice {
    font-size: 30px;
}


.projectcard{
    width: 230px;
    height: 340px;
}
.projectcardimg {
    width: 230px;
}
.projectcard h2 {
    font-size: 20px;
    padding: 10px;
    padding-left: 0px;
}

.projectsreadmore{
    padding: 10px;
}

.testimonialbubble {
    width: 200px;
    height: 420px;
    margin-left: 40px;

}

.testimonialimg {
   
    height: 80px;
}

.buttons {
    position: relative;
    bottom: 40px;
}
.manymore{
    font-size: 20px;
    align-self: center;
    position: relative;
    bottom: 30px;
}
.formcontainer img {
    width: 220px;
    height: 220px;
}

form{
    width: 250px;
}

form input{
    width: 160px;
}

}


@media screen and (min-width:768px) and (max-width:1279px){
   .landingimg{
    height: 560px;
     width: 560px;
    margin-left: 100px;
   }

   .mainh{
    font-size: 35px;
    position: relative;
    bottom: 40px;
   }

   .maintxt p {
    font-size: 20px;
   }

.quote {
    font-size: 32px;
    margin-top: 70px;
    margin-bottom: 100px;
    margin-left: 60px;
}

.aboutimg{
    width: 500px;
    height: 500px;
    margin-left: 100px;
}

.aboutsectiontxt h1 { 
    font-size: 35px;
}

.aboutsection p {
    font-size: 20px;
}


    
.card{ 
height:500px;
width:300px;

}

.card img { 
    width: 100px;
    height: 100px;
}

.card h3 { 
    font-size: 30px;
}

.card p {
    font-size: 20px;
}

.cardreadmore{
    font-size: 20px;
    padding:10px 16px 10px 16px;
}

.projectdevh {
    font-size: 30px;
}

.step h3 {
    font-size: 25px;
}

.step p {
    font-size: 20px;
}

.projectdevp {
    font-size: 35px;
}

.costsh {
    font-size: 35px;
}

.pricingcard {
    height: 500px;
    width: 300px;
}

.pricingcard h2 {
    font-size: 30px;
}
.realprice{
    font-size: 30px;
}

.pricingcard h3 {
    font-size: 22px;
}
.pricingcard li { 
    font-size: 20px;
   
}

.ourwork {
    font-size: 30px;
}

.projectcard {
    width: 360px;
    height: 400px;
}
.projectcardimg {
    width: 360px;
    height: 250px;
}

.projectcard h2 { 
    font-size: 30px;
}
.projectsreadmore {
    font-size: 20px;
}
.projectsh {
    font-size: 25px;

    
}

.testimonialp h1 {
    font-size: 40px;
}
.testimonialp p {
    font-size: 22px;
}

.slider {
    width: 600px;
    height: 600px;
}

.testimonialbubble {
    width: 500px;
    height: 550px;
    border-radius: 50px;
    margin-left: 40px;
}

.testimonialbubble img {
    width: 150px;
    height: 150px;
}

.testimonialbubble h2 {
    font-size: 35px;
}

.testimonialbubble h4{
    font-size: 28px;
}

.bubbletxt {
    font-size: 22px;
}
.buttons {
position: relative;
bottom: 20px;
}
#left {
    margin-left: 0px;
    width: 30px;
    height: 30px;
    padding:12px;
}
#right {
    width: 30px;
    height: 30px;
    padding:12px;
    margin-right: 10px;
}

.formcontainer img {
    width:350px;
    height: 350px;
    position: relative;
    top: 20px;
}

form{ 
    width: 550px;
    height: 550px;
}
form h1 {
    font-size: 35px;
}
form input{
    width:300px;
    height: 50px;
}

form input {
    font-size: 22px;
}

form textarea {
    width: 300px;
    height: 100px;
    font-size: 22px;
}
form button { 
    font-size: 22px;
}

.footer .logo {
    font-size: 50px;
}

.footercenter img {
  position: relative;
  top: 55px;
}



}


@media screen and (min-width:850px) and (max-width:1278px){
    .quote{
        margin-left: 85px;
    }
}


@media screen and (min-width:1279px){


.top {
    visibility: hidden;
    position:absolute;
    height: 0px;
}

#nav {
  position: static;
  inset: unset;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   margin-right: 0px;
    background-color: rgba(0, 0, 0, 0.002);
    height: 120px;
    transform: unset;
    backdrop-filter: unset;
  margin-bottom: 20px;

}

#nav a {
    margin-right: 20px;
}

#nav a:first-of-type{
    margin-top: 0px;

}

.navbtncontact { 
    font-size: 20px;
    font-weight: bolder;
    border-radius: 10px;
    padding:10px;
    width:140px;
    text-align: center;
    align-self: center;
   border: .5px solid white;
   color: white;
 margin-left: 20px;
}

.navbtncontact:hover {
    background: rgb(71,80,233);
    background: linear-gradient(270deg, rgba(71,80,233,1) 11%, rgba(167,81,255,1) 78%);
    color: white;
    border: none;
}

.navbtns{
    display: flex;
    flex-direction: row;
   
}
.navbtn{
    position: relative;
    top: 10px;
}

.logonav1 {
    visibility: visible;
    position: unset;
    color: white;
    font-family: 'Montserrat';
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 100px;
}


#nav a { 
    font-size: 20px;

}


#nav a:nth-of-type(1):after{
    content: '';
    width:0%;
    background-color: white;
    display: block;
    transition: .4s ease-in-out;

}

#nav a:nth-of-type(1):hover::after{ 
    content: '';
    height: 1pt;
    width: 100%;
    background-color: white;
display: block;
}
#nav a:nth-of-type(1):hover{
    transform: translateY(-2px);
}


#nav a:nth-of-type(2):after{
    content: '';
    width:0%;
    background-color: white;
    display: block;
    transition: .4s ease-in-out;

}

#nav a:nth-of-type(2):hover::after{ 
    content: '';
    height: 1pt;
    width: 100%;
    background-color: white;
display: block;
}
#nav a:nth-of-type(2):hover{
    transform: translateY(-2px);
}


#nav a:nth-of-type(3):after{
    content: '';
    width:0%;
    background-color: white;
    display: block;
    transition: .4s ease-in-out;

}

#nav a:nth-of-type(3):hover::after{ 
    content: '';
    height: 1pt;
    width: 100%;
    background-color: white;
display: block;
}
#nav a:nth-of-type(3):hover{
    transform: translateY(-2px);
}



.mainwrap {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 0px;
}

.main {
    width: 650px;
}

.maintxt{
    text-align: left;
margin-bottom: 50px;
}

.mainh{
    padding-left: 0px;
    font-size: 32px;
    position: relative;
    right: 5px;
}

.mainp{
    font-size: 20px;
}
.mainbuttons{
    margin:0px;
   padding: 0px;
   position: relative;
   right: 10px;
}

#learnmorebttn{
    text-align: center;
    width: 100px;
    margin-top: 5px;
}



#contactbttn1{
    text-align: center;
    width: 100px;
    margin-top: 5px;
}

#learnmorebttn:hover { 
    transform:translateY(-2px);
    transition: 0.3s linear;
    background-color: white;
    color:black;
}
#contactbttn1:hover { 
    transform:translateY(-2px);
    transition: 0.3s linear;
}

.landingimg {
    width: 700px;
    height: 550px;
    position: relative;
    left: 100px;
    bottom: 10px;
}


.quote { 
   
    text-align: center;
    margin-bottom: 100px;
    margin-left: 100px;
    font-size: 35px;
}

#about {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 100px;
}

.aboutimg{
    width: 500px;
    height: 450px;
position: relative;
right: 50px;
}

.aboutsectiontxt{
    width: 500px;
    position: relative;
    bottom: 20px;
}


.services {
    height: 500px;
    margin-top: 0px;
    margin-bottom: 200px;
    padding: 30px;
    flex-direction: row;
    justify-content: space-between;
}


.services.reveal{
    filter: blur(5px);
    opacity: 0;
    transform: translateY(50px);
}

.services.active{
    filter: blur(0px);
    opacity: 1;
transform:translateY(0px);
}

.card {
    padding:20px;
    height:420px;
width:250px;
font-family: 'Montserrat', sans-serif;
color: white;
box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.573);
border-radius:15px;
border-top:1px solid rgba(255, 255, 255, 0.504);
border-left:1px solid rgba(255, 255, 255, 0.395);
backdrop-filter: blur(3px);
transform-style: preserve-3d;
transform: perspective(1000px);
}



.card p { 
    text-align:center;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.477);
    padding: 10px;
}
.card a{ 
    color: white;
    text-decoration: none;
    text-align: center;
}

.card img { 
height: 80px;
width: 80px;
}

.cardreadmore{

    margin-bottom: 10px;
}
.cardreadmore:hover{
    background-color:white;
    color: black;
}

.projectdevh{
    font-size: 30px;
    margin-bottom: 100px;
}

.projectdevh.reveal{
    filter: blur(5px);
    opacity: 0;
    transform: translateY(50px);
}

.projectdevh.active{
    filter: blur(0px);
    opacity: 1;
transform:translateY(0px);
}


.scrollingsection{
    margin-bottom: 150px;
}

.projectdevp{
    font-size: 40px;
    margin-bottom: 200px;
}

.costsh{
    font-size:25px;
    margin-bottom: 100px;
    position: relative;
    right: 10px;
}

.pricingcards{
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.ourwork {
    font-size: 25px;
}
.ourwork.reveal{
    filter: blur(5px);
    opacity: 0;
    transform: translateY(50px);
}

.ourwork.active{
    filter: blur(0px);
    opacity: 1;
transform:translateY(0px);
}


.projectssection {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}


.projectssection:last-of-type{
    visibility: visible;
    position: unset;
}

.projectssection.reveal{
    transform:unset;
}

.projectssection.active{
    transform: unset;
}

.projectsh{
    margin-bottom: 150px;
    text-align: center;
    margin-left: 80px;
}

.projectsreadmore:hover{
    background-color: white;
    color: black;
}

.testimonialsection{
    flex-direction: row;
    justify-content: space-around;
    height: 600px;
    margin-bottom: 50px;
}

.testimonialp{
    width: 400px;
    text-align: left;
    margin: 0px;
position: relative;
bottom: 40px;
}

.testimonialp h1 {
    font-size: 30px;
    text-align: left;
    margin: 0px;
}


.slider{
    width: 600px;
    height: 370px;
    margin-left: 50px;
}

.testimonialbubble{
    width: 500px;
    height: 350px;
}

.buttons{
position: relative;
top: 10px;
}


form {
    background: rgb(234,253,255);
    background: radial-gradient(circle, rgba(234,253,255,1) 0%, rgba(148,187,233,1) 100%);
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 700px;
    height: 520px;
    margin: 0 auto;
    border-radius: 20px;
    align-items: center;
    position: relative;
    bottom: 60px;
}
form h1 {
 text-align: center;
 font-family:'Montserrat', sans-serif ;
 font-size: 40px;
 position: relative;
 bottom: 20px;
}

form input{
    height: 50px;
    width: 300px;
    margin-bottom: 20px;
}

form textarea {
width: 300px;
height: 150px;
margin-bottom: 20px;
}

form button { 
    height: 60px;
    width: 150px;
    padding: 10px;
    font-size: 20px;
    color: white;
    background: rgb(71,80,233);
background: linear-gradient(270deg, rgba(71,80,233,1) 11%, rgba(167,81,255,1) 78%);
border:none;
border-radius: 15px;
cursor: pointer;
text-align: center;
}

.formcontainer img {
    height: 300px;
    width: 300px;
}

}

@media screen and (min-width:1500px){
    .container{
      width: 1280px;
    }
    .mainwrap{
margin-top: 50px;
    }
    .qoute{
        margin-left: 120px;
    }
}

@media screen and (min-width:1920px){
    .container{
        width: 1500px;
    }

    #about{
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
.services{
    width: 1200px;
}
.mainwrap {
    margin-top: 150px;
    margin-bottom: 120px ;
}
.quote{
    margin-left: 150px;
}
.services{
    margin-top: 50px;
}

.pricingcards{
    margin-bottom: 150px;
}

}